[submodule "repo/inflow/3.0"]
	path = repo/inflow/3.0
	url = git@bitbucket.org:xenit/move2alf-war.git
	branch = master-3.0

[submodule "repo/edge/1.0"]
	path = repo/edge/1.0
	url = git@bitbucket.org:xenit/edge-docs.git
	branch = release-1.0

[submodule "repo/edge/1.1"]
	path = repo/edge/1.1
	url = git@bitbucket.org:xenit/edge-docs.git
	branch = release-1.1
[submodule "repo/inflow/3.1"]
	path = repo/inflow/3.1
	url = git@bitbucket.org:xenit/inflow-docs.git
	branch = release
[submodule "repo/finder/2.1"]
	path = repo/finder/2.1
	url = git@bitbucket.org:xenit/finder-docs.git
	branch = release-2.1
[submodule "repo/api/stable"]
	path = repo/api/stable
	url = https://github.com/xenit-eu/alfred-api-docs.git
	branch = master
[submodule "repo/inflow/3.3"]
	path = repo/inflow/3.3
	url = git@bitbucket.org:xenit/inflow-docs.git
	branch = release
[submodule "repo/inflow/3.4"]
	path = repo/inflow/3.4
	url = git@bitbucket.org:xenit/inflow-docs.git
	branch = release
