[submodule "repo/edge/1.0"]
	path = repo/edge/1.0
	url = git@github.com:xenit-eu/edge-docs.git
	branch = release-1.0
[submodule "repo/edge/1.1"]
	path = repo/edge/1.1
	url = git@github.com:xenit-eu/edge-docs.git
	branch = release-1.1
[submodule "repo/edge/2.1"]
	path = repo/edge/2.1
	url = git@github.com:xenit-eu/edge-docs.git
	branch = release-2.1

[submodule "repo/finder/2.1"]
	path = repo/finder/2.1
	url = git@github.com:xenit-eu/finder-docs.git
	branch = release-2.1
[submodule "repo/finder/2.2"]
	path = repo/finder/2.2
	url = git@github.com:xenit-eu/finder-docs.git
	branch = release-2.2

[submodule "repo/api/stable"]
	path = repo/alfred-api-docs/stable
	url = git@github.com:xenit-eu/alfred-api-docs.git
	branch = master
[submodule "repo/alfred-api/stable"]
	path = repo/alfred-api/stable
	url = git@github.com:xenit-eu/alfred-api.git
	branch = release-2.x

[submodule "repo/inflow/3.5"]
	path = repo/inflow/3.5
	url = git@github.com:xenit-eu/inflow-docs.git
	branch = release-3.5
[submodule "repo/inflow/3.4"]
	path = repo/inflow/3.4
	url = git@github.com:xenit-eu/inflow-docs.git
	branch = release-3.4
[submodule "repo/inflow/3.2"]
	path = repo/inflow/3.2
	url = git@github.com:xenit-eu/inflow-docs.git
	branch = release-3.2
[submodule "repo/inflow/4.0"]
	path = repo/inflow/4.0
	url = git@github.com:xenit-eu/inflow-docs.git
	branch = release-4.0
[submodule "repo/finder/2.3"]
	path = repo/finder/2.3
	url = git@github.com:xenit-eu/finder-docs.git
	branch = release-2.3
[submodule "repo/finder/2.4"]
	path = repo/finder/2.4
	url = git@github.com:xenit-eu/finder-docs.git
	branch = release-2.4
